# Midterm: Classification Analysis

Name: Mindy Cruz         
Date: 4/6/2025 

Intoduction:

# Section 1: Import and Inspect the Data

In [10]:
# imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, confusion_matrix
from matplotlib.colors import ListedColormap

__1.1 Load Dataset and Display__

*UCI Mushroom Dataset*

In [13]:
#load dataset 
df= pd.read_csv(r"C:\Users\cruzm\44670 Projects\applied-ml-mcruz\midterm\agaricus-lepiota.data", delimiter=",", header= None)

#display the column names, null counts and datatypes
df.info()

#display the first 10 rows
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8124 non-null   object
 1   1       8124 non-null   object
 2   2       8124 non-null   object
 3   3       8124 non-null   object
 4   4       8124 non-null   object
 5   5       8124 non-null   object
 6   6       8124 non-null   object
 7   7       8124 non-null   object
 8   8       8124 non-null   object
 9   9       8124 non-null   object
 10  10      8124 non-null   object
 11  11      8124 non-null   object
 12  12      8124 non-null   object
 13  13      8124 non-null   object
 14  14      8124 non-null   object
 15  15      8124 non-null   object
 16  16      8124 non-null   object
 17  17      8124 non-null   object
 18  18      8124 non-null   object
 19  19      8124 non-null   object
 20  20      8124 non-null   object
 21  21      8124 non-null   object
 22  22      8124 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g
5  e  x  y  y  t  a  f  c  b  n  ...  s  w  w  p  w  o  p  k  n  g
6  e  b  s  w  t  a  f  c  b  g  ...  s  w  w  p  w  o  p  k  n  m
7  e  b  y  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  s  m
8  p  x  y  w  t  p  f  c  n  p  ...  s  w  w  p  w  o  p  k  v  g
9  e  b  s  y  t  a  f  c  b  g  ...  s  w  w  p  w  o  p  k  s  m

[10 rows x 23 columns]

__Reflection 1:__

What do you notice about the dataset? Are there any data issues?